<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="ru_cwt_health_web_forms:ru.cwt.iotmon.web.forms">
 </head>
 <body>
  <vaadin-vertical-layout primary-style-name="editForm" spacing="false" size-full margin="false">
   <vaadin-vertical-layout spacing="false" size-full margin-left="false" margin-right="false" _id="content" :expand></vaadin-vertical-layout>
   <vaadin-css-layout width-full _id="buttons" :center>
    <vaadin-button plain-text _id="save">
      Save 
    </vaadin-button>
    <vaadin-button plain-text _id="delete">
      Delete 
    </vaadin-button>
    <vaadin-button plain-text _id="cancel">
      Cancel 
    </vaadin-button>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>